<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikeTrax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFAAC19C1CAD95580009E097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFAAC1B21CAD95580009E097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFAAC1BD1CAD95580009E097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
