<!DOCTYPE html>
<html>
<head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'shred/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'shred/style.css' %}" />


</head>

<body>
<h1>Shred Analytics</h1>

<p>Shred analytics gives you speedmaps, heat maps built on your speed, for your strava recorded rides.</p>


<p>You need to connect with strava to get your speedmaps.</p>

<a  href="https://www.strava.com/oauth/authorize?client_id=11671&response_type=code&redirect_uri=http://{{ WEB_ROOT }}/shred/token/&scope=view_private&approval_prompt=force"><img id="connect" src="{% static 'shred/images/connect_with_strava.png' %}" /></a>


</body>
</html>








