<!DOCTYPE html>
<html>
<head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'shred/style.css' %}" />


</head>

<body>
<h1>Shred Analytics</h1>

<h2>Christian</h2>

<a href="/shred/421122/581754644/"> Wet wet wet paradise</a> <br/>
<a href="/shred/421122/577320490/"> Soaring Eagle Budu race</a> <br/>
<a href="/shred/421122/573201423/"> Soaring eagle afternoon ride w sensor</a> <br/>
<a href="/shred/421122/564832535/"> Slick Rock</a> <br/>

<h2>JP</h2>

<a href="/shred/750228/581749493/"> Paradise MTB - Monocog</a> <br/>

<h2>Brian</h2>
<a href="/shred/1319625/581804864/"> Getting soaked at Paradise Valley</a> <br/>

</body>
</html>








