<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="http://maps.googleapis.com/maps/api/js"></script>

<script>

//Setting up the map
function initialize() {

    var red2green_colors = ["#FF0000","#ff1100","#ff2300","#ff3400","#ff4600","#ff5700","#ff6900","#ff7b00","#ff8c00","#ff9e00","#ffaf00","#ffc100","#ffd300","#ffe400","#fff600","#f7ff00","#d4ff00","#c2ff00","#b0ff00","#9fff00","#8dff00","#7cff00","#6aff00","#58ff00","#47ff00","#35ff00","#24ff00","#12ff00","#00ff00"]

    var min_speed = 1;
    var sa_avg_speed = {{ sa_average_speed }};
    var max_speed = {{ max_speed }};
    var average_speed = {{ average_speed }};

    var mapProp = {
        center:new google.maps.LatLng({{ start_lat }}, {{start_lon}}),
        zoom:15,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var absolute_map = new google.maps.Map(document.getElementById("absoluteMap"),mapProp);
    var average_map = new google.maps.Map(document.getElementById("averageMap"),mapProp);

    var fileStr = "{{ file_string }}"

    var pointsArr =  fileStr.split("@")

    // ************* BEGIN ABSOLUTE ************
    var absolute_currentPath = [];
    var absolute_currentColor = red2green_colors[0];
    var absolute_lastLat = "";
    var absolute_lastLon = "";

    for (points in pointsArr) {
        var row = pointsArr[points].split(",");
        var row_rg_color = AssignRedGreenColor(parseInt(row[3]));

        //start new line
        if (row_rg_color != absolute_currentColor) {
            
            DrawHeatLine(absolute_map, absolute_currentPath, absolute_currentColor)

            absolute_currentColor = row_rg_color //update the color
            absolute_currentPath = []
            if (absolute_lastLat != ""){
                absolute_currentPath.push(new google.maps.LatLng(absolute_lastLat,absolute_lastLon))
            }

        } else {
            absolute_lastLat = row[1]
            absolute_lastLon = row[2]
        }

        absolute_currentPath.push(new google.maps.LatLng(row[1],row[2]))
    }

    //Commit the final line
    DrawHeatLine(absolute_map, absolute_currentPath, absolute_currentColor)

    // ************* END ABSOLUTE ************

    // ************* BEGIN AVERAGE ************
    var average_currentPath = [];
    var average_currentColor = "#FFFFFF";
    var average_lastLat = "";
    var average_lastLon = "";

    // the division by 5 is to give us a range in the middle for what average means
    var min_avg_speed = sa_avg_speed - (sa_avg_speed/5);
    var max_avg_speed = sa_avg_speed + (sa_avg_speed/5);

    for (points in pointsArr) {
        var avg_row = pointsArr[points].split(",");
        var row_avg_color = AssignAverageColor(parseInt(avg_row[3]));

        if (row_avg_color != average_currentColor) {
            DrawHeatLine(average_map, average_currentPath, average_currentColor);

            average_currentColor = row_avg_color;
            average_currentPath = []
            if (average_lastLat != ""){
                average_currentPath.push(new google.maps.LatLng(average_lastLat, average_lastLon));
            }
        } else {
            average_lastLat = avg_row[1];
            average_lastLon = avg_row[2];
        }

        average_currentPath.push(new google.maps.LatLng(avg_row[1], avg_row[2]))
    }

    DrawHeatLine(average_map, average_currentPath, average_currentColor);

    // ************* END AVERAGE ************

    function DrawHeatLine(map, path, color) {
        
        var op = 1.0
        var w = 8

        if (color == "#fff600") { 
            op = 0.3; 
            // w = 4;
        }

        var heatLine = new google.maps.Polyline({
          path:path,
          strokeColor:color,
          strokeOpacity:op,
          strokeWeight:w
          });

        heatLine.setMap(map);       
    }

    function AssignAverageColor(rowspeed) {
        if (rowspeed < 1) { return "#000" }
        else if (rowspeed < min_avg_speed) { return red2green_colors[0] }
        else if (rowspeed > max_avg_speed) { return red2green_colors[28] }
        else { return "#fff600" }
    }


    function AssignRedGreenColor(rowspeed) {
        if (rowspeed < 1) { return "#000" }
        else if (rowspeed < 2) { return red2green_colors[0] }
        else if (rowspeed < 3) { return red2green_colors[1] }
        else if (rowspeed < 4) { return red2green_colors[2] }
        else if (rowspeed < 5) { return red2green_colors[3] }
        else if (rowspeed < 6) { return red2green_colors[4] }
        else if (rowspeed < 7) { return red2green_colors[5] }
        else if (rowspeed < 8) { return red2green_colors[6] }
        else if (rowspeed < 9) { return red2green_colors[7] }
        else if (rowspeed < 10) { return red2green_colors[8] }
        else if (rowspeed < 11) { return red2green_colors[9] }
        else if (rowspeed < 12) { return red2green_colors[10] }
        else if (rowspeed < 13) { return red2green_colors[11] }
        else if (rowspeed < 14) { return red2green_colors[12] }
        else if (rowspeed < 15) { return red2green_colors[13] }
        else if (rowspeed < 16) { return red2green_colors[14] }
        else if (rowspeed < 17) { return red2green_colors[15] }
        else if (rowspeed < 18) { return red2green_colors[16] }
        else if (rowspeed < 19) { return red2green_colors[17] }
        else if (rowspeed < 20) { return red2green_colors[18] }
        else if (rowspeed < 21) { return red2green_colors[19] }
        else if (rowspeed < 22) { return red2green_colors[20] }
        else if (rowspeed < 23) { return red2green_colors[21] }
        else if (rowspeed < 24) { return red2green_colors[22] }
        else if (rowspeed < 25) { return red2green_colors[23] }
        else if (rowspeed < 26) { return red2green_colors[24] }
        else if (rowspeed < 27) { return red2green_colors[25] }
        else if (rowspeed < 28) { return red2green_colors[26] }
        else if (rowspeed < 29) { return red2green_colors[27] }
        else { return red2green_colors[28] }
    }
}

//Actually initialize the map. 
google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'shred/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'shred/pills.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'shred/style.css' %}" />


</head>

<body>

    <section class="spotlight">
        <div class="row">
          <div class="twelve columns">
            <h1><strong>{{ ride_name }}</strong></h1>
          </div>
        </div>
    </section>



    <div id="absoluteMap"></div>

    <br/>

    <div id="averageMap"></div>

    <section class="footer">
        <div class="row">
          <div class="twelve columns">
              <h2>
                  Send suggestions and feature requests to <a href="mailto:chr.hagel@gmail.com?subject=shred-feedback">Christian</a> and he'll put them into our amazing feature request tracking system.
              </h2>
          </div>
        </div>  
    </section>


</body>
</html>








